<form class="form-horizontal" role="form" id="add_param_form">
    <div id="legend" class="">
        <legend class="">参数添加</legend>
    </div>
    <div class="form-group">
        <label for="paramValue" class="col-sm-1 control-label">参数名称</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="paramValue" name="paramValue" placeholder="请输入名字"/>
        </div>
    </div>
    <div class="form-group">
        <label for="paramType" class="col-sm-1 control-label">参数类型</label>
        <div class="col-sm-2">
            <input type="number" class="form-control" id="paramType" name="paramType" placeholder="参数类型"/>
        </div>
    </div>
    <div class="form-group">
        <label for="paramCode" class="col-sm-1 control-label">参数编码</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="paramCode" name="paramCode" placeholder="参数编码"/>
        </div>
    </div>
    <div class="form-group">
        <label for="paramDesc" class="col-sm-1 control-label">参数描述</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="paramDesc" name="paramDesc" placeholder="参数描述"/>
        </div>
    </div>
    <div class="form-group">
        <label for="paramUrl" class="col-sm-1 control-label">参数连接</label>
        <div class="col-sm-4">
            <input type="file" class="form-control" id="paramUrl" name="paramUrl" placeholder="参数连接"/>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-8">
            <button type="submit" class="btn btn-success">保存</button>
            <button type="button" id="return" class="btn btn-default">返回</button>
        </div>
    </div>
</form>




<!--<form class="form-horizontal" role="form" id="add_param_form">-->
    <!--<fieldset>-->
        <!--<div id="legend" class="">-->
            <!--<legend class="">参数添加</legend>-->
        <!--</div>-->
        <!--<div class="control-group">-->
            <!--<label class="control-label" for="paramValue">名字</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="input-xlarge" id="paramValue" name="paramValue" placeholder="请输入名字"/>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="control-group">-->
            <!--<label class="control-label" for="paramType">参数类型</label>-->
            <!--<div class="controls">-->
                <!--<input type="number" class="input-xlarge" id="paramType" name="paramType" placeholder="参数类型"/>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="control-group">-->
            <!--<label class="control-label" for="paramCode">Text input</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="input-xlarge" id="paramCode" name="paramCode" placeholder="参数编码"/>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="control-group">-->
            <!--<label class="control-label" for="paramDesc">Text input</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="input-xlarge" id="paramDesc" name="paramDesc" placeholder="参数描述"/>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="control-group">-->
            <!--<label class="control-label" for="paramUrl">Text input</label>-->
            <!--<div class="controls">-->
                <!--<input type="file" class="input-xlarge" id="paramUrl" name="paramUrl" placeholder="参数连接"/>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="control-group">-->
            <!--<div class="col-sm-offset-1 col-sm-8">-->
                <!--<button type="submit" class="btn btn-success">保存</button>-->
                <!--<button type="button" id="return" class="btn btn-default">返回</button>-->
            <!--</div>-->
        <!--</div>-->

    <!--</fieldset>-->
<!--</form>-->

<script>

    $(function () {
        $("#add_param_form").validate({
            rules: {
                paramName: {
                    required: true
                }
            },
            messages: {
                paramName: {
                    required: "请输名称",
                }
            },
            submitHandler: function () {
                $.ajaxFileUpload({
                    method: "POST",
                    url: "/param/save?time=" + (new Date()).getTime(),
                    secureuri: true,
                    fileElementId: 'paramUrl',                        //文件选择框的id属性
                    data: {
                        "paramValue": $("#add_param_form #paramValue").val(),
                        "paramType": $("#add_param_form #paramType").val(),
                        "paramCode": $("#add_param_form #paramCode").val(),
                        "paramDesc": $("#add_param_form #paramDesc").val()
                    },//自定义参数,
                    success: function (data, s, status) {
                        //上传成功之后的操作
                        if (!"20000" == data.code) {
                            alert(data.message);
                        } else {
                            $.ajax({
                                type: "GET",
                                url: '/param/search',
                                success: function (data) {
                                    $('#content').html(data);
                                }
                            });
                        }
                    }, error: function (data, status, e) {
                        //上传失败之后的操作
                    }
                });


            }
        });

        $("#return").click(function () {
            change_list("/param/search");
            /*$.ajax({
                type: "GET",
                url: '/param/search',
                success: function (data) {
                    $('#content').html(data);
                }
            });*/
        });
    });


</script>