<script src="/js/pagination.js"></script>
<div>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th width="20%">参数名称</th>
            <th width="20%">参数类型</th>
            <th width="20%">参数编码</th>
            <th width="40%">操作</th>
        </tr>
        </thead>
        <tbody>


        <tr th:each="param,paramStat : ${data.resultList}">
            <td th:text="${param.paramValue}"></td>
            <td th:text="${param.paramType}"></td>
            <td th:text="${param.paramCode}"></td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" id="add">添加连接</button>
                <button type="button" class="btn btn-primary btn-sm" id="edit">编辑</button>
                <button type="button" class="btn btn-primary btn-sm" id="delete">删除</button>
            </td>

        </tr>


        </tbody>
    </table>
</div>


<div id="test" pageurl="/param/list" style="text-align: right;" pagination="pagination_new"
     th:attr="pagenumber=${data.page},totalpage=${data.totalPage}"></div>
