<form class="form-horizontal" enctype="multipart/form-data" role="form" id="upload_param_form">
    <div class="form-group">
        <label for="paramUrl" class="col-sm-1 control-label">参数连接</label>
        <div class="col-sm-4">
            <input type="hidden" class="form-control" th:value="${data.id}" name="id" id="id"/>
            <input type="file" class="form-control" id="paramUrl" name="paramUrl" placeholder="请选择参数连接"/>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-8">
            <button type="submit" class="btn btn-success">保存</button>
            <button type="button" id="return" class="btn btn-default">返回</button>
        </div>
    </div>
</form>

<script>

    $(function () {
        $("#upload_param_form").validate({
            rules: {
                paramUrl: {
                    required: true
                }
            },
            messages: {
                paramUrl: {
                    required: "请输名称",
                }
            },
            submitHandler: function () {
                $.ajaxFileUpload({
                    method:"POST",
                    url:"/param/upload",
                    secureuri:true,
                    fileElementId:'paramUrl',                        //文件选择框的id属性
                    data: { id: $("#upload_param_form #id").val() },//自定义参数,
                    success: function(data,s, status){
                        //上传成功之后的操作
                        if (!"20000" == data.code) {
                            alert(data.message);
                        } else {
                            $.ajax({
                                type: "GET",
                                url: '/param/search',
                                success: function (data) {
                                    $('#content').html(data);
                                }
                            });
                        }
                    },error: function (data, status, e){
                        //上传失败之后的操作
                    }
                });
            }
        });

        $("#return").click(function () {
            $.ajax({
                type: "GET",
                url: '/param/search',
                success: function (data) {
                    $('#content').html(data);
                }
            });
        });
    });


</script>