<ol class="breadcrumb">
    <li>
        <span style="color: #27a0d7;">视频添加</span>
        <span style="color: #cccccc;">/</span>
        <span style="color: #27a0d7;">视频添加</span>
    </li>
</ol>
<form class="form-horizontal" role="form" id="add_video_form">
    <div class="form-group">
        <label for="videoName" class="col-sm-1 control-label">视频名称</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="videoName" name="videoName" placeholder="请输入名字"/>
        </div>
    </div>
    <div class="form-group">
        <label for="videoDuration" class="col-sm-1 control-label">视频时长</label>
        <div class="col-sm-2">
            <input type="number" class="form-control" id="videoDuration" name="videoDuration" placeholder="分钟"/>
        </div>
        <div class="col-sm-2">
            <input type="number" class="form-control" id="videoDuration1" name="videoDuration1" placeholder="秒"/>
        </div>
    </div>
    <div class="form-group">
        <label for="videoViewPath" class="col-sm-1 control-label">视频连接</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="videoViewPath" name="videoViewPath" placeholder="视频连接"/>
        </div>
    </div>
    <div class="form-group">
        <label for="videoSize" class="col-sm-1 control-label">视频大小</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" id="videoSize" name="videoSize" placeholder="兆"/>
        </div>
    </div>
    <div class="form-group">
        <label for="videoType" class="col-sm-1 control-label">类型</label>
        <div class="col-sm-4">
            <select name="videoType" id="videoType"
                    class="form-control">
                <option value="">全部</option>
                <option th:each="type:${video_type_list}" th:value="${type.paramCode}"
                        th:text="${type.paramValue}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="videoPoster" class="col-sm-1 control-label">视频封面</label>
        <div class="col-sm-4">
            <input type="file" class="form-control" id="videoPoster" name="videoPoster" placeholder="视频封面"/>
        </div>
    </div>
    <div class="form-group">
        <label for="videoTag" class="col-sm-1 control-label">标签</label>
        <div class="col-sm-4 checkbox">
            <label th:each="type:${video_tag_list}">
                <input type="checkbox" th:value="${type.paramCode}" th:text="${type.paramValue}" name="videoTag"
                       id="videoTag"/>
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-8">
            <button type="submit" class="btn btn-success">保存</button>
            <button type="button" id="return" class="btn btn-default">返回</button>
        </div>
    </div>
</form>

<script>

    $(function () {
        $("#add_video_form").validate({
            rules: {
                videoName: {
                    required: true
                }
            },
            messages: {
                videoName: {
                    required: "请输名称",
                }
            },
            submitHandler: function () {
                var videoTags="";
                $("input[name='videoTag']:checked").each(function(i){
                    videoTags+=$(this).val()+",";
                });
                videoTags=videoTags.substring(0,videoTags.lastIndexOf(","));

                $.ajaxFileUpload({
                    method: "POST",
                    url: "/video/save?time=" + (new Date()).getTime(),
                    secureuri: true,
                    fileElementId: 'videoPoster',                        //文件选择框的id属性
                    data: {
                        "videoName": $("#add_video_form #videoName").val(),
                        "videoDuration": $("#add_video_form #videoDuration").val(),
                        "videoSize": $("#add_video_form #videoSize").val(),
                        "videoType": $("#add_video_form #videoType").val(),
                        "videoViewPath": $("#add_video_form #videoViewPath").val(),
                        "videoTag": videoTags
                    },//自定义参数,
                    success: function (data, s, status) {
                        //上传成功之后的操作
                        if (!"20000" == data.code) {
                            alert(data.message);
                        } else {
                            $.ajax({
                                type: "GET",
                                url: '/video/search',
                                success: function (data) {
                                    $('#content').html(data);
                                }
                            });
                        }
                    }, error: function (data, status, e) {
                        //上传失败之后的操作
                    }
                });
            }
        });

        $("#return").click(function () {
            $.ajax({
                type: "GET",
                url: '/video/search',
                success: function (data) {
                    $('#content').html(data);
                }
            });
        });
    });


</script>