<script src="/js/pagination.js"></script>
<div>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th width="20%">视频名称</th>
            <th width="10%">视频类型</th>
            <th width="20%">视频标签</th>
            <th width="10%">视频时长</th>
            <th width="10%">视频大小</th>
            <th width="30%">操作</th>
        </tr>
        </thead>
        <tbody>


        <tr th:each="video,videoStat : ${data.resultList}">
            <td th:text="${video.videoName}"></td>
            <td th:text="${video.videoType}"></td>
            <td th:text="${video.videoTag}"></td>
            <td th:text="${video.videoDuration}"></td>
            <td th:text="${video.videoSize}"></td>
            <td>
                <button type="button" class="btn btn-success btn-sm" th:value="${video.id}" id="upload" name="upload">上传附件</button>
                <button type="button" class="btn btn-warning btn-sm" id="edit">修改</button>
                <button type="button" class="btn btn-danger btn-sm" id="delete">删除</button>
            </td>

        </tr>


        </tbody>
    </table>
</div>


<div id="test" pageurl="/video/list" style="text-align: right;" pagination="pagination_new"
     th:attr="pagenumber=${data.page},totalpage=${data.totalPage}"></div>




<!-- 信息删除确认 -->
<div class="modal fade" id="delcfmmodel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">提示信息</h4>
            </div>
            <div class="modal-body">
                <p>您确认要删除吗？</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="url"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a id="deletesubmmit" value="" class="btn btn-danger" data-dismiss="modal">确定</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">

    $(function () {
        $("[name='delete']").click(function () {
            $('#delcfmmodel').modal("show");
            $('#delcfmmodel #deletesubmmit').val($(this).val());
        });
        $("[name='upload']").click(function () {
            $.ajax({
                type: "POST",
                data: {"id": $(this).val()},
                url: "/video/uploadpage",
                success: function (data) {
                    $('#content').html(data);
                }
            });
        });


        $("#deletesubmmit").click(function () {
            $.ajax({
                type: "POST",
                data: {"id": $(this).val()},
                url: "/video/delete",
                success: function (data) {
                    if ("20000" == data.code) {
                        $("#query").click();
                    }
                }
            });
        });

    });



</script>