<script src="/js/pagination.js"></script>
<div>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th width="20%">视频名称</th>
            <th width="10%">视频类型</th>
            <th width="20%">视频标签</th>
            <th width="10%">视频时长</th>
            <th width="10%">视频大小</th>
            <th width="30%">操作</th>
        </tr>
        </thead>
        <tbody>


        <tr th:each="video,videoStat : ${data.resultList}">
            <td th:text="${video.videoName}"></td>
            <td th:text="${video.videoType}"></td>
            <td th:text="${video.videoTag}"></td>
            <td th:text="${video.videoDuration}"></td>
            <td th:text="${video.videoSize}"></td>
            <td>
                <button type="button" class="btn btn-success btn-sm" id="upload">上传附件</button>
                <button type="button" class="btn btn-warning btn-sm" id="edit">修改</button>
                <button type="button" class="btn btn-danger btn-sm" id="delete">删除</button>
            </td>

        </tr>


        </tbody>
    </table>
</div>


<div id="test" pageurl="/video/list" style="text-align: right;" pagination="pagination_new"
     th:attr="pagenumber=${data.page},totalpage=${data.totalPage}"></div>
