<div xmlns:th="http://www.w3.org/1999/xhtml">
    <form class="bs-example bs-example-form" id="searchform" role="form">
        <div class="row">

            <div class="form-horizontal">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group ">
                        <label class="col-lg-4 col-sm-4 control-label">视频名称：</label>
                        <div class="col-lg-8 col-sm-8">
                            <input type="text" class="form-control" id="videoName" name="videoName" placeholder="视频名称"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group ">
                        <label class="col-lg-4 col-sm-4 control-label">视频类型：</label>
                        <div class="col-lg-8 col-sm-8">
                            <select name="videoType" id="videoType"
                                    class="form-control">
                                <option value="">全部</option>
                                <option th:each="type:${video_type_list}" th:value="${type.paramCode}" th:text="${type.paramValue}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-3 col-sm-3 text-left">
                    <button type="button" class="btn btn-success btn-md" id="add">添加</button>
                </div>
                <div class="col-md-3 col-sm-3 text-right">
                    <button type="button" class="btn btn-primary btn-md" id="query">查询</button>
                    <button type="button" class="btn btn-default btn-md" id="reset" onclick="clearValue();">
                        清空
                    </button>
                </div>

            </div>
        </div>
    </form>


</div>


<div id="table_list" style="margin-top:1%;">
</div>


<script>

    $(function () {
        $.ajax({
            type: "POST",
            url: "/video/list",
            success: function (data) {
                $('#table_list').html(data);
            }
        });

        $("#add").click(function () {
            $.ajax({
                type: "POST",
                url: "/video/add",
                success: function (data) {
                    $('#content').html(data);
                }
            });
        });
        $("#query").click(function () {
            $.ajax({
                type: "POST",
                data: $("#searchform").serialize(),
                url: "/video/list",
                success: function (data) {
                    $('#table_list').html(data);
                }
            });
        });

    });


</script>