<div class="panel-body" style="padding-bottom:0px;padding-top:0px;">
    <div class="panel panel-default">
        <div class="panel-heading">参数修改</div>
        <div class="panel-body">
            <form id="edit_form" class="form-horizontal">

                <div class="row">
                    <input type="hidden" class="form-control" id="id" name="id"
                           th:value="${data.id}"/>

                    <div class="form-group">
                        <label for="nickname" class="col-sm-1 control-label">用户昵称</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="nickname" name="nickname"
                                   th:value="${data.nickname}"
                                   placeholder="请输入昵称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-1 control-label">邮箱</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="email" name="email"
                                   th:value="${data.email}"
                                   placeholder="邮箱"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="col-sm-1 control-label">状态</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="status" name="status"
                                   th:value="${data.status}" placeholder="状态"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-8">
                            <button type="submit" class="btn btn-success">保存</button>
                            <button type="button" id="return" class="btn btn-default">返回</button>
                        </div>
                    </div>


                </div>

            </form>

        </div>
    </div>

</div>

<script>

    $(function () {
        $("#edit_form").validate({
            rules: {
                nickname: {
                    required: true
                }
            },
            messages: {
                nickname: {
                    required: "请输昵称",
                }
            },
            submitHandler: function () {
                $.ajax({
                    method: "POST",
                    url: "/user/update?time=" + (new Date()).getTime(),
                    data: {
                        "id":$("#edit_form #id").val(),
                        "nickname": $("#edit_form #nickname").val(),
                        "email": $("#edit_form #email").val(),
                        "status": $("#edit_form #status").val()
                    },//自定义参数,
                    success: function (data) {
                        if (!(data.code == '20000')) {
                            toastr.warning(data.msg);
                        } else {
                            $.ajax({
                                type: "GET",
                                url: '/user/main',
                                success: function (data) {
                                    $('#content').html(data);
                                }
                            });
                        }
                    }, error: function (data, status, e) {
                        toastr.warning("操作失败，请再次操作！");
                        //上传失败之后的操作
                    }
                });


            }
        });

        $("#return").click(function () {
            change_list("/user/main");
        });
    });


</script>