<div class="panel-body" style="padding-bottom:0px;padding-top:0px;">
    <div class="panel panel-default">
        <div class="panel-heading">参数添加</div>
        <div class="panel-body">
            <form id="add_form" class="form-horizontal">

                <div class="row">

                    <div class="form-group">
                        <label for="nickname" class="col-sm-1 control-label">用户昵称</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="nickname" name="nickname"
                                   placeholder="用户昵称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-1 control-label">邮箱</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="email" name="email"
                                   placeholder="邮箱"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="col-sm-1 control-label">状态</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="status" name="status" placeholder="状态"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-8">
                            <button type="submit" class="btn btn-success">保存</button>
                            <button type="button" id="return" class="btn btn-default">返回</button>
                        </div>
                    </div>


                </div>

            </form>

        </div>
    </div>

</div>

<script>

    $(function () {
        $("#add_form").validate({
            rules: {
                nickname: {
                    required: true
                }
            },
            messages: {
                nickname: {
                    required: "请输昵称",
                }
            },
            submitHandler: function () {
                $.ajax({
                    method: "POST",
                    url: "/user/save?time=" + (new Date()).getTime(),
                    dataType : 'json',
                    data: {
                        "nickname": $("#add_form #nickname").val(),
                        "email": $("#add_form #email").val(),
                        "status": $("#add_form #status").val()
                    },//自定义参数,
                    success: function (data, s, status) {
                        if(data.code!='20000'){
                            alert(data.msg);
                        }else{
                            $.ajax({
                                type: "GET",
                                url: '/user/main',
                                success: function (data) {
                                    $('#content').html(data);
                                }
                            });
                        }

                    }, error: function (data, status, e) {
                        alert("操作失败，请再次操作！")
                        //上传失败之后的操作
                    }
                });


            }
        });

        $("#return").click(function () {
            change_list("/user/main");
        });
    });


</script>